<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
    <!-- CSS -->
    <title>Budgtr</title>

</head>
<body>
    <div class="container">
        <h1><%=budgets.name %></h1>
        <button><a herf="/budgets">Back</a></button>
        <h4>Date</h4>
        <h1><%=budgets.date %></h1>
        <h4>Name</h4>
        <h1><%=budgets.name %></h1>
        <h4>From</h4>
        <h1><%=budgets.from %></h1>
        <h4>Amount</h4>
        <h1><%=budgets.amount %></h1>
        <h4>Tags</h4>
        <h1><%=budgets.tags %></h1>
    </div>
</body>
</html>